*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Arial', sans-serif;
    background-color: #fff4e5;
}
header{
    width: 100%;
}
.redesociais{
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 0 20px;
}    
.redesociais img{
    width: 28px;
    height: 28px;
}    
.redesociais img:hover{
    animation: jumpForward 1s ease;
}
.menu{
    position: fixed;
    width: 100%;
    background-color: #441400;
    color: #fff4e5;
    padding: 8px 10px;
    font-size: 15px;
    z-index: 1001;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    top: 0;
    left: 0;
}
.topo-direita{
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 0 40px;
}
.topo-direita a{
    color: #fff4e5;
    text-decoration: none;
    padding: 10px;
    letter-spacing: 2px;
}
.topo-direita a:hover{
    text-decoration: underline;
}
.lista nav a:hover{
    animation: jumpForward 1s ease;
    text-decoration: underline;
}
@keyframes jumpForward{
    0%   {transform: scale(1);}
    50%  {transform: scale(1.2);}
    100% {transform: scale(1);}
}
.banner{
    background-color: #6f2400;
    padding: 70px 0;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.banner::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background: linear-gradient(to right, #c1a17e, #441400);
}
.titulo{
    text-align: center;
}
.titulo h1{
    color: #fff4e5;
    letter-spacing: 2px;
    margin-top: 30px;
    text-transform: uppercase;
}
.classe2{
    background-image: url(../Imagens/logorp.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
}
.classe2 button{
    margin-top: 460px;
}
button{
    font-size: 18px;
    padding: 12px 24px;
    background-color: #c1a17e;
    color: #fff4e5;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: #9b7e59;
}
.classe3{
    text-align: center;
    color: #6f2400;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 35px 0 80px 0;
}
.classe3 p{
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 100px;
}
.classe3 h1{
    font-size: 40px;
    color: #9b7e59;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.footer{
    background-color: #6f2400;
    color: #fff4e5;
    text-align: center;
    font-size: 14px;
    padding-bottom: 10px;
}
.footer a{
    color: #fff4e5;
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}
.conteudo{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
}
.classe4{
    width: 45%;
    text-align: center;
}
.classe4 h2{
    margin-bottom: 20px;
    font-size: 20px;
}
.classe4 p{
    margin: 10px 0;
    font-size: 16px;
}
.classe4 a{
    color: #fff4e5;
    text-decoration: none;
}
.classe4 a:hover{
    text-decoration: underline;
}
.icone{
    width: 30px;
    vertical-align: middle;
    margin-right: 8px;
}

.whatsapp-icone{
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.whatsapp-icone img{
    width: 80px;
    height: 80px;
}
 .whatsapp-icone img:hover{
   animation: jumpForward 1s ease;
}
.email {
    font-size: 16px;
    color: #fff4e5;
    text-decoration: none;
    display: inline-block;
    word-break: break-word;
    vertical-align: middle;
}
.email-contato{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    margin: 10px 0;
    padding-left: 2px;
}
@media (max-width: 600px){
    .menu{
        align-content: center;
        padding: 23px;
        display: flex;
        justify-content: space-evenly;
    }
    .topo-direita a{
        position: relative;
        left: -42px;
        bottom: 23px;
        font-size: 11px;
    }
    .redesociais{
        margin-right: 10px;
        position: absolute;
        top: 40px;
        margin-left: -8px;
    }
    .redesociais img{
        width: 25px;
        height: 25px;
        margin-right: 25px;
    }
    .icone{
        width: 20px;
    }
    .titulo h1{
        margin-bottom: -15px;
        font-size: 18px;
    }
}