*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Arial', sans-serif;
    background-color: #fff4e5;
}
header{
    width: 100%;
}
.lista{
    text-align: right;
    padding-right: 30px;
    margin-top: -40px;
}
.lista nav li{
    display: inline-block;
}
.lista nav a{
    color: #fff4e5;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: color 1s ease;
}
.lista nav a:hover{
    animation: jumpForward 1s ease;
    text-decoration: underline;
}
  @keyframes jumpForward{
    0%   {transform: scale(1);}
    50%  {transform: scale(1.2);}
    100% {transform: scale(1);}
}
.banner{
    background-color: #6f2400;
    padding: 50px 0;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.banner::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background: linear-gradient(to right, #c1a17e, #441400);
}
.titulo{
    text-align: center;
}
.titulo h1{
    color: #fff4e5;
    letter-spacing: 2px;
}
.titulo p{
    color: #fff4e5;
    letter-spacing: 2px;
}
.classe2{
    background-image: url(../Imagens/logorp.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 30px;
    margin-top: 230px;
}
.classe2 button{
    margin-top: 460px;
}
button{
    font-size: 18px;
    padding: 12px 24px;
    background-color: #c1a17e;
    color: #fff4e5;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: #9b7e59;
}
.classe3{
    text-align: center;
    color: #6f2400;
    font-size: 20px;
    letter-spacing: 2px;
    margin:  35px 0 80px 0;
}
.classe3 p{
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 100px;
}
.classe3 h1{
    font-size: 40px;
    color: #9b7e59;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.footer{
    background-color: #6f2400;
    color: #fff4e5;
    text-align: center;
    font-size: 14px;
    padding-bottom: 10px;
}
.footer a{
    color: #fff4e5;
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}
.conteudo{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
}
.classe4{
    width: 45%;
    text-align: center;
}
.classe4 h2{
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: capitalize;
}
.classe4 p{
    margin: 10px 0;
    font-size: 16px;
}
.classe4 a{
    color: #fff4e5;
    text-decoration: none;
}
.classe4 a:hover{
    text-decoration: underline;
}
.icon{
    width: 20px;
    vertical-align: middle;
    margin-right: 8px;
}

.whatsapp-icon{
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.whatsapp-icon img{
    width: 80px;
    height: 80px;
}
 .whatsapp-icon img:hover{
   animation: jumpForward 1s ease;
}
.email {
    font-size: 16px;
    color: #fff4e5;
    text-decoration: none;
    display: inline-block;
    word-break: break-word;
    vertical-align: middle;
}
.email-contato{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    margin: 10px 0;
    padding-left: 2px;
}